.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.menu button {
  margin-right: 20px;
  font-size: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container h1 {
  margin-bottom: 20px;
}
