body {
  font-family: 'Trebuchet MS', sans-serif; /* Using PT Sans Google Font */
  background-color: #fff5e4;
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #850e35;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #850e35;
}

.phrase {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #fff; /* Changed text color to white for better contrast */
    border-radius: 5px;
    padding: 10px; /* Added padding for better spacing */
}

input[type="text"] {
    padding: 15px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
}

.layout {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    /* border: 1px solid #ccc; */
    color: #850e35;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 30px 10px;
    background-color: #ffc4c4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added box shadow for elevation */
}

.rectangle {
    /* border: 1px solid #ccc; */
    background-color: #ee6983;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.blurred {
    filter: blur(5px);
}
