.input-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-component h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.input-component p {
  font-size: 20px;
  margin-bottom: 10px;
}

.input-component input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;
}

.input-component ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.input-component li {
  font-size: 20px;
  margin-bottom: 5px;
}

.congratulation {
  font-family: 'PT Sans', cursive;
  font-size: 2em;
  color: #03812f;
  text-align: center;
  margin-top: 20px;
  font-weight: 800;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}